<ion-view title="Tickets" id="page5" ng-repeat="product in selected">
    <ion-content padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">{{product.company}}</div>
            <div class="item item-body">
                <div id="tickets-markdown2" style="color:#000000;">
                    <p>{{product.description}}</p>
                </div>
                <div id="tickets-markdown3" style="color:#000000;">
                    <p>{{product.email}}</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>